.link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: aliceblue;
  text-decoration: none;
}
.link:hover {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(16, 217, 240);
  text-decoration: none;
}
.img-table {
  width: 50px;
  height: 50px;
}

.pageNumber {
  color: rgb(16, 217, 240);
  margin-left: 10px;
  font-size: 18px;
}

.title-navbar {
  color: rgb(16, 217, 240);
}
.title-page {
  color: rgb(16, 217, 240);
}

.card {
  margin: 30px;
  transform: translateX(400px);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.card.show {
  transform: translateX(0);
  opacity: 1;
}

.list-animation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.list-item {
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid rgb(16, 217, 240);
  width: 50vw;
  height: 100px;
  text-align: center;
}
