.link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: aliceblue;
  text-decoration: none;
}
.link:hover {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(16, 217, 240);
  text-decoration: none;
}
.img-table {
  width: 50px;
  height: 50px;
}

.pageNumber {
  color: rgb(16, 217, 240);
  margin-left: 10px;
  font-size: 18px;
}

.title-navbar {
  color: rgb(16, 217, 240);
}
